@charset "utf-8";

div{
    position: relative;
}

div.container{
    height: 555px;
}

div.controlArea{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

canvas{
    position: absolute;
    top: 0px;
    left: 0px;
}